<section>
  <h2>Create new Cup</h2>
  <div style="display: flow-root; padding: 0 0 0 0.5em;">
    <label for="month">Monat:</label>
    <input class="trackmania-button transform" type="month" id="month" name="month" [(ngModel)]="yearAndMonth">
    <button class="trackmania-button transform" style="margin-left: 1rem;" (click)="createCup()">Create</button>
  </div>

</section>

<hr>

<section>

  <h2>Cups
  </h2>
  <button class="trackmania-button transform" stlye="float:right;" (click)="refresh()">Refresh</button>
  @for(cup of cups(); track cup.id) {
  <div class="cup">
    <button mat-icon-button stlye="float:right;"
      (click)="changeCurrentCup(cup)"><mat-icon>{{getIconCurrent(cup.current)}}</mat-icon></button>
    <button mat-icon-button stlye="float:right;"
      (click)="changeCupVisibility(cup)"><mat-icon>{{getIconPublic(cup.public)}}</mat-icon></button>
    <button mat-icon-button stlye="float:right; display: block;"
      (click)="delete(cup)"><mat-icon>delete</mat-icon></button>
    <button mat-icon-button stlye="float:right; display: block;"
      (click)="rename(cup)"><mat-icon>mode_edit</mat-icon></button>
    <span [routerLink]="getRedirect(cup.id)" style="cursor: pointer;">{{cup.name}} | ID: {{cup.id}} | Year: {{cup.year}}
      | Month: {{cup.month}}
    </span>

  </div>
  }
  @empty {
  <p>There are no Cups.</p>
  }
</section>