<h1>Privacy Policy</h1>

<h2>
  Access log
</h2>

<p>This website follows a standard procedure of using log files. We store traffic logs which may contain your IP address
  and browser user agent, in order to see how the site is being
  used. These logs are regularly rotated out and are not permanent. In most cases, they are stored for a maximum of 24
  hours.</p>

<h2>Questions?</h2>

<p>Feel free to contact me on Discord: sowiemarkus or via <a href="mailto:markus.u.wieland@gmail.com">E-Mail</a>.</p>