<div class="header">
  <img class="website"
    alt="Header. BIG YEK Monthly Cup! Sponsored by Volvic. Hosted by GranaDy. 3 Weekly Qualifier, always on monday after COTD."
    src="assets/header.jpeg" style="width: 100%; border-bottom: 3px solid #063825;">
  <img class="mobile"
    alt="Header. BIG YEK Monthly Cup! Sponsored by Volvic. Hosted by GranaDy. 3 Weekly Qualifier, always on monday after COTD."
    src="assets/header-mobile.jpeg" style="width: 100%; border-bottom: 3px solid #063825;">

</div>
<div class="container">
  <router-outlet />
</div>
<img alt="GranaDy pointing to the results." src="assets/nyco.png" class="nyco">